{% import "AppBundle::macros.html.twig" as macros %}

<span class="card-props">
{% if card.type_code == 'character' %}
	Power: {{ macros.integer_or_x(card.power) }}.
	{% if card.ability > 0 %}Ability: {{ macros.integer_or_x(card.ability) }}.{% endif %}
	{% if card.armor > 0 %}Armor: {{ macros.integer_or_x(card.armor) }}.{% endif %}
	{% if card.force_aptitude is not empty %}{{card.force_aptitude}}.{% endif %}
	{% if card.model_type is not empty %}{{card.model_type}}.{% endif %}
{% endif %}
{% if card.type_code == 'creature' %}
	Ferocity: {{ macros.integer_or_x(card.ferocity) }}.
	{{card.defense_value_name}}: {{ macros.integer_or_x(card.defense_value) }}.
{% endif %}
{% if card.type_code == 'starship' or card.type_code == 'vehicle' %}
	Power: {{ macros.integer_or_x(card.power) }}.
	{% if card.armor > 0 %}Armor: {{ macros.integer_or_x(card.armor) }}.{% endif %}
	{% if card.maneuver > 0 %}Maneuver: {{ macros.integer_or_x(card.maneuver) }}.{% endif %}
	{% if card.hyperspeed > 0 %}Hyperspeed: {{ macros.integer_or_x(card.hyperspeed) }}.{% endif %}
	{% if card.landspeed > 0 %}Landspeed: {{card.landspeed}}. {% endif %}
{% endif %}
{% if card.type_code == 'location' %}
{% if card.system_parsec %}Parsec: {{ macros.integer_or_x(card.system_parsec) }}{% endif %}
{% endif %}
</span>
