<div class="card-side">
	<span class="icon-{{ card.side_code }} fg-{{ card.side_code }}"></span>
	<span class="card-side">{{ card.side_name }}</span>.
	{% if card.side_code != 'neutral' %}{% if card.is_loyal %} {{'card.info.loyal' | trans}}.{% else %} {{'card.info.nonloyal' | trans}}.{% endif %}{% endif %}
</div>
