{% import "AppBundle::macros.html.twig" as macros %}

<span class="card-props">
{% if card.type_code == 'character' %}
	{{'card.info.power' | trans}}: {{ macros.integer_or_x(card.power) }}.
	{{'card.info.ability' | trans}}: {{ macros.integer_or_x(card.ability) }}.
{% endif %}
{% if card.type_code == 'location' %}
{% if card.system_parsec %}{{'card.info.system_parsec' | trans}}: {{ macros.integer_or_x(card.system_parsec) }}{% endif %}
{% endif %}
</span>
