{% extends 'AppBundle:Search:display.html.twig' %}

{% block main %}

<table class="rwd-table table table-striped table-condensed">
<thead>
<tr>
<th>{{ 'card.info.name' | trans }}</th>
<th>{{ 'card.info.side' | trans }}</th>
<th>{{ 'card.info.type' | trans }}</th>
<th>{{ 'card.info.set' | trans }}</th>
<th>{{ 'card.info.rarity' | trans }}</th>
</tr>
</thead>
{% for i in 0..cards|length-1 %}
<tr class="{% if i%2==0 %}even{% else %}odd{% endif %}">
   {% set card = cards[i] %}
	<td data-th="Name">
        <span class="icon icon-{{ card.icon}}"></span>
		<a href="{{ card.url }}" class="card-tip{% if card.available == false %} card-preview{% endif %}" data-code="{{ card.code }}">{{ card.name }}</a>
	</td>
	<td data-th="Side">{{ card.side_name }}</td>
	<td data-th="Type" >{{ card.type_name }}</td>
	<td data-th="Set"><span class="set-code" title="{{ card.set_name }}">{{ card.set_code }}</span></td>
  <td data-th="Rarity"><span class="rarity-code" title="{{ card.rarity_name }}">{{ card.rarity_code }}</span></td>
</tr>
{% endfor %}
</table>

{% endblock %}
