{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Card Search{% endblock %}

{% block body %}
<div class="main white container">

<div class="row">

<div class="col-md-3">
	<h2>{{ 'search.setbrowse' | trans }}</h2>
	<ol>
	{% for cycle in cards_data.allsetsdatathreaded() %}
		<li><a href="{{ cycle['url'] }}">{{ cycle['label'] }}</a></li>
		{% if cycle['sets'] is defined %}
		<ol>
		{% for set in cycle['sets'] %}
		<li><a href="{{ set['url'] }}">{{ set['label'] }}</a></li>
		{% endfor %}
		</ol>
		{% endif %}
	{% endfor %}
	</ol>
</div>

<div class="col-md-9">

<h1>{{ block('title') }}</h1>
<form method="GET" action="{{ path('cards_processSearchForm') }}" role="form" style="margin-bottom:2em">

<fieldset>
<legend>{{ 'search.nametexts' | trans }}</legend>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
			<label for="q">{{ 'card.info.name' | trans }}</label>
			<div>
				<input class="form-control" size="30" id="q" name="q" value="">
			</div>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-sm-6">
		<div class="form-group">
			<label for="x">{{ 'card.info.gametext' | trans }}</label>
			<div>
				<input class="form-control" size="40" id="x" name="x" value="">
			</div>
		</div>
    </div>
    <div class="col-sm-6">
		<div class="form-group">
			<label for="a">{{ 'card.info.lore' | trans }}</label>
			<div>
				<input class="form-control" size="30" id="a" name="a" value="">
			</div>
		</div>
	</div>
</div>
</fieldset>
<fieldset>
<legend>{{ 'card.info.side' | trans }}</legend>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
			<div class="btn-group" data-toggle="buttons">
			{% for side in sides %}
				<label class="btn btn-default active" title="{{ side.name }}" data-toggle="tooltip" data-container="body">
					<input type="checkbox" name="s[]" checked value="{{ side.code }}">
					{{ side.name }}
				</label>
			{% endfor %}
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>{{ 'search.attributes' | trans }}</legend>
<div class="row">
    <div class="col-sm-4">
    	<div class="form-group">
				<label for="e">{{ 'card.info.set' | trans }}</label>
				<div>
					<select class="form-control" name="e" id="e">
						<option value="">{{ 'search.any' | trans }}</option>
						{% for set in sets %}
						<option value="{{ set.code }}">{{ set.label }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
    </div>
    <div class="col-sm-4">
    	<div class="form-group">
				<label for="t">{{ 'card.info.type' | trans }}</label>
				<div>
					<select class="form-control" name="t" id="t">
						<option value="">{{ 'search.any' | trans }}</option>
						{% for type in types %}
						<option value="{{ type.code }}">{{ type.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
    </div>
    <div class="col-sm-4">
    	<div class="form-group">
				<label for="b">{{ 'card.info.subtype' | trans }}</label>
				<div>
					<select class="form-control" name="b" id="b">
						<option value="">{{ 'search.any' | trans }}</option>
						{% for subtype in subtypes %}
						<option value="{{ subtype.code }}">{{ subtype.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
			<div class="form-group">
				<label for="k">{{ 'card.info.characteristics' | trans }}</label>
				<div>
					<select class="form-control" name="k" id="k">
						<option value="">{{ 'search.any' | trans }}</option>
						{% for characteristic in characteristics %}
						<option value="{{ characteristic }}">{{ characteristic }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4">
		</div>
</div>
</fieldset>
<fieldset>
<legend>{{ 'search.numerics' | trans }}</legend>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label for="o">{{ 'card.info.deploy' | trans }}</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="oo" id="oo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="d" name="d" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
			<label for="n">{{ 'card.info.forfeit' | trans }}</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="no" id="no" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="f" name="f" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label for="s">{{ 'card.info.power' | trans }}</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="so" id="so" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="p" name="p" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
			<label for="v">{{ 'card.info.destiny' | trans }}</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="vo" id="vo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="des" name="des" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>{{ 'search.submit' | trans }}</legend>
<div class="row">
    <div class="form-group">
       {% include 'AppBundle:Search:searchoptions.html.twig' %}
       <div class="col-sm-4">
	      <button class="btn btn-primary" type="submit">{{ 'forms.search' | trans }}</button>
       </div>
    </div>
</div>
</fieldset>
</form>

</div>

</div>

</div>
{% endblock %}
